# Download data

# 1. Imports

## 1.1 Packages

In [51]:
import os
import sys

## 1.2 Options

In [52]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
sys.path.append('../src/')

In [54]:
path_data = "../data/01_raw/"

## 1.3 Functions

In [55]:
from finance_prediction.pipelines.download_data.nodes import (
    download_data_period,
    download_data_today,
)

# 2. Data

## 2.1 NASDAQ

In [56]:
symbol = '^IXIC'

In [57]:
df = download_data_period(symbol, "2024-01-01", "2024-09-01")
df

[*********************100%***********************]  1 of 1 completed

          Date         Close
0   2024-01-02  14765.940430
1   2024-01-03  14592.209961
2   2024-01-04  14510.299805
3   2024-01-05  14524.070312
4   2024-01-08  14843.769531
..         ...           ...
163 2024-08-26  17725.769531
164 2024-08-27  17754.820312
165 2024-08-28  17556.029297
166 2024-08-29  17516.429688
167 2024-08-30  17713.619141

[168 rows x 2 columns]

In [58]:
download_data_today(symbol)

[*********************100%***********************]  1 of 1 completed

        Date         Close
0 2024-09-03  17136.298828

In [59]:
df.to_parquet(os.path.join(path_data, f'{symbol}.parquet'))

## 2.2 Bitcoin

In [60]:
df = download_data_period('BTC-USD', "2024-01-01", "2024-09-01")
df

[*********************100%***********************]  1 of 1 completed

          Date         Close
0   2024-01-01  44167.332031
1   2024-01-02  44957.968750
2   2024-01-03  42848.175781
3   2024-01-04  44179.921875
4   2024-01-05  44162.691406
..         ...           ...
239 2024-08-27  59504.132812
240 2024-08-28  59027.625000
241 2024-08-29  59388.179688
242 2024-08-30  59119.476562
243 2024-08-31  58969.898438

[244 rows x 2 columns]

In [61]:
df.to_parquet(os.path.join(path_data, 'BTC-USD.parquet'))

## 2.3 Google

## 2.4 Apple

In [62]:
symbol = 'AAPL'

In [63]:
df = download_data_period(symbol, "2024-01-01", "2024-09-01")
df

[*********************100%***********************]  1 of 1 completed

          Date       Close
0   2024-01-02  185.639999
1   2024-01-03  184.250000
2   2024-01-04  181.910004
3   2024-01-05  181.179993
4   2024-01-08  185.559998
..         ...         ...
163 2024-08-26  227.179993
164 2024-08-27  228.029999
165 2024-08-28  226.490005
166 2024-08-29  229.789993
167 2024-08-30  229.000000

[168 rows x 2 columns]

In [64]:
df.to_parquet(os.path.join(path_data, f'{symbol}.parquet'))