# Download data

# 1. Imports

## 1.1 Packages

In [22]:
import os
import sys

import pandas as pd

## 1.2 Options

In [23]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
sys.path.append('../src/')

## 1.3 Functions

In [25]:
from finance_prediction.pipelines.download_data.nodes import (
    download_data_period,
    download_data_today,
)

# 2. Data

In [27]:
df = download_data_period('AAPL', "2024-08-01", "2024-09-01")

[*********************100%***********************]  1 of 1 completed

In [28]:
df

         Date       Close
0  2024-08-01  218.360001
1  2024-08-02  219.860001
2  2024-08-05  209.270004
3  2024-08-06  207.229996
4  2024-08-07  209.820007
5  2024-08-08  213.309998
6  2024-08-09  216.240005
7  2024-08-12  217.529999
8  2024-08-13  221.270004
9  2024-08-14  221.720001
10 2024-08-15  224.720001
11 2024-08-16  226.050003
12 2024-08-19  225.889999
13 2024-08-20  226.509995
14 2024-08-21  226.399994
15 2024-08-22  224.529999
16 2024-08-23  226.839996
17 2024-08-26  227.179993
18 2024-08-27  228.029999
19 2024-08-28  226.490005
20 2024-08-29  229.789993
21 2024-08-30  229.000000